Hello World!
This notebook describes the decision tree based Machine Learning model I have created
to segment the users of Habits app.

In [2]:
# Import the required modules
import pandas as pd

In [11]:
# simple function to read in the user data file.
# the argument parse_dates takes in a list of colums, which are to be parsed as date format
user_data = pd.read_csv("janacare_user-engagement_Aug2014-Apr2016.csv", parse_dates = [-3,-2,-1])

In [12]:
# data metrics
user_data.shape # Rows , colums

(372, 19)

In [13]:
# data metrics
user_data.dtypes # data type of colums

user_id                                                        float64
num_modules_consumed                                           float64
num_glucose_tracked                                            float64
num_of_days_steps_tracked                                      float64
num_of_days_food_tracked                                       float64
num_of_days_weight_tracked                                     float64
insulin_a1c_count                                              float64
cholesterol_count                                              float64
hemoglobin_count                                               float64
watching_videos (binary - 1 for yes, blank/0 for no)           float64
weight                                                         float64
height                                                           int64
bmi                                                              int64
age                                                              int64
gender                                                          object
has_diabetes                                                   float64
first_login                                             datetime64[ns]
last_activity                                           datetime64[ns]
age_on_platform                                                 object
dtype: object

As is visible from the last column data type, Pandas is not recognising it as data type format. 
This will make things difficult, so I delete this particular column and add a new one.
Since

In [14]:
# drop last column
user_data_del_last_col = user_data.drop("age_on_platform", 1)

In [17]:
# Check if colums has been deleted. Number of column changed from 19 to 18
user_data_del_last_col.shape

(372, 18)